<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lotview.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <application
        android:name="com.lotview.app.application.KeyKeepApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.activity.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activity.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbarTheme" />
        <activity
            android:name=".views.activity.forgot_password.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbarTheme" />
        <activity
            android:name=".views.activity.home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbarTheme" />
        <activity
            android:name=".views.activity.changepassword.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activity.transfer.TransferActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activity.AssetListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".qrcodescanner.QrCodeActivity"
            android:screenOrientation="portrait" />



        <activity
            android:name=".qrcodescanner.CaptureCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".qrcodescanner.ScannerActivity"
            android:screenOrientation="portrait" />



        <activity
            android:name=".views.activity.assetDetail.AssetDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.fragment.testDrive.TestDriveAssetDetailFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activity.chat.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activity.keyMap.KeyOnMapActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.testdrive.TestDriveStuckActivity"
            android:screenOrientation="portrait" />


        <!-- Firebase configuration -->
        <service android:name=".firebase.firebase.DeleteTokenService" />
        <service android:name=".firebase.firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".firebase.firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".views.services.LocationListenerService" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0b2a50fa30c096f0b61aae2622ab361081013c2f" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".views.activity.history.HistoryActivity"></activity>
    </application>

</manifest>